<div>
    Esta es la vista del CHAT
    <label>Comentario</label>
    <input>
    <div>
        {{saludo}}
    </div>  

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>